name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  flake-check:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v6"
      - name: "Install Nix"
        uses: "cachix/install-nix-action@v31"
        with: { "extra_nix_config": "access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}" }
      - name: "Check flake"
        run: "nix flake check --all-systems"

  all-required-checks-complete:
    if:  ${{ always() }}
    runs-on: "ubuntu-latest"
    steps:
      - uses: Smaug123/all-required-checks-complete-action@05b40a8c47ef0b175ea326e9abb09802cb67b44e
        with:
          needs-context: ${{ toJSON(needs) }}
    needs: [ "flake-check" ]
